main {
    position: relative;
    background-color: darkblue;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

::selection {
    background-color: darkslateblue;
}

.parallax{
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.bg-img {
    position: absolute;
    width: 2800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.cloud-2 {
    position: absolute;
    width: 900px;
    top: calc(20%);
    left: calc(77%);
    transform: translate(-50%, -50%);
    z-index: 7;
    opacity: 0.90;
}
.cloud-3 {
    position: absolute;
    width: 700px;
    top: calc(80%);
    left: calc(18%);
    transform: translate(-50%, -50%);
    z-index: 90;
    opacity: 0.75;
}
.cloud-4 {
    position: absolute;
    width: 900px;
    top: calc(40%);
    left: calc(10%);
    transform: translate(-50%, -50%);
    z-index: 170;
    opacity: 0.75;
}
.cloud-5 {
    position: absolute;
    width: 950px;
    top: calc(30%);
    left: calc(60%);
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.8;
}
.cloud-6 {
    position: absolute;
    width: 2200px;
    top: calc(98%);
    left: calc(82%);
    transform: translate(-50%, -50%);
    z-index: 50;
    opacity: 0.75;
}

.text {
    position: absolute;
    z-index: 70;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: auto;
    color: #ffffff;
}
#content-33 h2 {
    font-weight: 10;
    font-size: 5rem;
    line-height: 0.88;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#content-33 h1 {
    font-weight: 800;
    font-size: 7rem;
    line-height: 0.88;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.sun {
    position: absolute;
    z-index: 19;
    top: 0;
    right: 0;
    width: 595px;
    pointer-events: none;
}

.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7));
    pointer-events: none;
}

@media (max-width: 1100px){
    #content-33 h1{
        font-size: 2.4rem;
    }
    #content-33 h2{
        font-size: 3.7rem;
    }
}
body {
    overflow-x: hidden;
}
#continue-text {
    opacity: 0;
    font-style: italic;
    font-weight: 300; /* alebo lighter */
    transition: opacity 1s ease-in;
  }

  #continue-text.show {
    opacity: 1;
  }

  
  #content-2 h2 {
    max-width: 150vw; 
    margin: 0 auto;  
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* default off, zapína sa GSAPom */
    opacity: 0; /* štartovacia hodnota */
  }
  @font-face {
    font-family: 'Playwrite NG Modern';
    src: url('fonts/PlaywriteNGModern.woff2') format('woff2'),
         url('fonts/PlaywriteNGModern.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  body, h1, h2, h4 {
    font-family: "Cardo", serif;
  }
  #preloader {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('cloud/jason.jpg') no-repeat center;
    background-size: 2800px;  /* alebo contain podľa potreby */
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
  }

  .spinner {
    width: 40px;
    height: 40px;
    border: 5px solid #ccc;
    border-top: 5px solid #5a3f37;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to { transform: rotate(-360deg); }
  }